@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');


h1.title {
  font-size: 14px;
  text-align: center;
}

.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #276fc1;
  font-family: Arial !important;
  font-size: 22px;
}


.distill-site-nav a {
  color: white;
  text-decoration: none;
}

.distill-site-header {
  --title-size:       20px;    
  --text-color:       #ff414b; /* edited */
  --text-size:        15px;
  --hover-color:      black; /* edited */
  --bkgd-color:       #ffd8db; /* edited */
}


.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        12px;
  --hover-color:      white;
  --bkgd-color:       #0F2E3D;
}


.posts-list .metadata .publishedDate {
    color: rgb(249, 83, 85);
}

.blackbox {
  padding: 0.5em;
  background: #276fc1;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5em;
}
.center {
  text-align: center;
}


.bgred {
  background-color: #b7dcf9;
}


code {
  font-family: 'Fira Mono', sans-serif;
  color: #383838;
  background: rgba(249, 83, 85, 0.1);
  font-weight: 300;
  font-size: 0.9em;
}

d-article a {
    border-bottom: 2px double grey;
    text-decoration: none;
}

